.food-cart{
    display: inherit;
    height:280px;
    width:30%;
    float:left;
    margin-top:20px;
    margin-left:10px;
    margin-bottom: 20px;
}
.food-cart:hover{
    display: inherit;
    height:280px;
    width:30%;
    float:left;
    margin-top:20px;
    margin-left:10px;
    margin-bottom: 20px;
    box-shadow:0px 0px 15px lightgray;
}
.food-cart img{
    height:150px;
    width:50%;
    border-radius: 40px;
}