.navbar{
    margin-right:80px;
    margin-left: 80px;
}
.navbar img{
    height:60px;
    width:150px;
}
.navbar-manu{
    text-align:right;
}
.button{
    color:black;
    margin-left:20px;
}
.button:hover{
    color:white;
    background-color: rgba(255, 0, 106, 0.945);
    border-radius: 20px;
    border:1px solid lightgray;
    width:110px;
}